.site-header {
	background-color: $color__background-header;
	text-align: center;
	padding: .95rem 0 .75rem;
	& > .wrap > * {
		line-height: 2rem;
		vertical-align: middle;
	}
	a {
		color: $color__text-header;
		@include transition(all, 0.45s, linear);
	}
	a:hover {
		color: $color__text-header-hover;
	}
}
.site-title {
	margin: 0;
	text-align: center;
	@include font-size(1.5);
	@include transition(all, 0.0s, linear);
	
	& a {
		text-decoration: none;
		vertical-align: middle;
	}
}

@include responsive(small-screens) {
	.site-branding {
		text-align: left;
		float: left;
		width: 40%;
		display: inline-block;
	}
	
	.site-title {
		text-align: left;
	}
	
	.main-navigation {
		float: right;
		width: 58%;
	}
}
